<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Flask</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="{{url_for('index')}}" target="_self" rel="noopener noreferrer">Home</a></li>
      <li><a href="{{url_for('about')}}" target="_self" rel="noopener noreferrer">About</a></li>
      <li><a href="{{url_for('contact')}}" target="_self" rel="noopener noreferrer">Contact</a></li>
      <li><a href="{{url_for('careers')}}" target="_self" rel="noopener noreferrer">Careers</a></li>
    </ul>
  </nav>

  {% block content %}
  {% endblock %}
  https://github.com/startbootstrap/startbootstrap-clean-blog/archive/gh-pages.zip
</body>

</html>